.con {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: #c3caea;
  margin: auto;
  padding-left: 20px;
  padding-top: 20px;
}

.app-logo {
  width: 10%;
  height: 10%;
  align-self: flex-start;
}

.fir-con {
  width: 70%;
  background-color: #5763a5;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
}
.para {
  color: #ffffff;
  font-size: 20px;
  font-family: 'Roboto';
}

.child-fir-con {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #9ba9eb;
  border-radius: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.input-logo {
  width: 30px;
  height: 30px;
}

.hr-con {
  width: 5px;
  color: #64748b;
}

.input-con {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 3px;
  border-radius: 3px;
  width: 90%;
}

.input {
  width: 100%;
  outline: none;
  border: none;
}

.password-manager-logo {
  width: 300px;
  height: 300px;
}

.button {
  font-size: 20px;
  background-color: #0b69ff;
  color: #ffffff;
  border: none;
  align-self: flex-end;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 3px;
  padding-left: 7px;
  padding-right: 7px;
  cursor: pointer;
}

.fir-con-head {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.search-con {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-logo {
  width: 20px;
  height: 20px;
}
.hr {
  height: 2vh;
}

.hr-con {
  display: flex;
  align-items: center;
  width: 90%;
}
.search-hr-con {
  width: 100%;
  color: #64748b;
}

.sec-con {
  width: 70%;
  background-color: #5763a5;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  min-height: 50vh;
}

.show-password-con {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-right: 9px;
}

.no-passwords {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 80%;
}

.no-passwords-logo {
  width: 300px;
  height: 300px;
}

.ul-con {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
